
.top-container{
    background-image: url('/img/natureimage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mission-container{
    background-image: url('/img/happyfarmers.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.tagline-dash{
    background-color: yellow;
    height: 5px;
    width : 250px;
    margin-bottom : 20px;
}

.about-us-dash{
    width : 100px;
    height : 2px;
    background-color: #999999;
}

.caption{
    text-shadow: 0px 0px 2px #222222, 0px 0px 10px #222222, 0px 0px 20px #222222;
}

.mission-title{
    text-shadow : 4px 4px #1a3107;
}

@media screen and(min-width : 599px){
    .tagline{
        font-size : 36px;
        text-shadow: 0px 0px 3px #222222, 0px 0px 5px #222222;
    }


    .tagline-container{
        position:relative;
    }
    .mission-title{
        font-size : 36px;
    }


}

@media screen and (min-width : 600px){
    .tagline{
    font-size : 56px;
    }

    .mission-title{
        font-size : 56px;
    }


    .tagline-container{
        position:relative;
    }
    .caption{
        margin-top : 50px;
    }
}