@media screen and (max-width : 599px){
    .product-image{
        height : 140px;
        width : 110px;
        object-fit: cover;
    }
}

@media screen and (min-width : 600px){
      .product-image{
        height : 220px;
        width : 180px;
        object-fit: cover;
    }
}